.chat {
  display: flex;
  background-color: #fff;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
  max-height: 650px;

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      height: 58px;
      margin-bottom: 20px;
      align-items: center;

      & > div {
        i {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-dialogs {
      height: 100%;
      .dialogs {
        height: 100%;
        overflow: auto;
        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: #f3f7ff;
          }
        }
      }
    }
  }

  &__dialog {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid #f7f7f7;

      &-center {
        text-align: center;
      }

      &-username {
        font-weight: 500;
        margin-bottom: 5px;
      }

    }
    &-messages {
      height: 100%;
      .messages {
        height: 100%;
        overflow: auto;
        max-height: 525px;
      }

      .ant-empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

}
