@import "~styles/variables";

.message {
    display: flex;
    margin-bottom: 15px;
    $self: &;

    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        img {
            width: 33px;
            height: 33px;
            border-radius: 50px;
            margin-right: 13px;
            margin-bottom: 23px;
        }
    }
    &__info {
        // display: flex;
    }

    &__content {
        position: relative;
        max-width: 440px;
        display: flex;
    }
    
    &__icon-readed {
        position: absolute;
        left: -25px;
        bottom: 22px;

        &--no {
            left: -20px;
        }
    }

    &__bubble {
        background-color: $blue;
        box-shadow: 0 5px 5px rgba(54, 116, 255, 0.1967);
        border-radius: 12px 12px 12px 0;
        padding: 15px;
        margin-bottom: 8px;
    }

    &__date {
        opacity: 0.4;
        font-style: 12px;
    }
    &__text {
        color: #fff;
        line-height: 20px;
    }

    &__attachments {
        display: flex;
        margin-bottom: 5px;
        &-item {
            margin-right: 5px;
            cursor: pointer;
            img {
                width: 45px;
                height: 45px;
                border-radius: 8px;
            }
        }
    }

    &--isme {
         display: flex;
         flex-direction: row-reverse;
         #{ $self}__avatar {
             img {
                 margin-right: 0;
                 margin-left: 13px;
             }
         }
         #{ $self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
         }
         #{ $self}__info {
             text-align: right;
         }
         #{ $self}__bubble {
             background-color: #fff;
             border: 1px solid #ececec;
             box-shadow: 0 4px 4px rgba(0, 0, 0, 0.022);
             border-radius: 12px 12px 0 12px;
         }
         #{ $self }__text {
             color: $black;
         }
    }

    &--is-typing {
        #{$self}__bubble {
            background-color: $message-typing-blue;
            box-shadow: 0 5px 5px rgba(54, 116, 255, 0.04);
            padding: 15px 20px;
        }
    }
    &__typing {
        span {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: $message-typing-circle;
            display: inline-block;
            margin-right: 8px;
            animation-name: typingAnimation;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;

            &:nth-of-type(2) {
            animation-duration: 0.6s;
            animation-delay: 0.3s;
                
            }
            &:nth-of-type(3) {
            animation-duration: 0.7s;
            animation-delay: 0.3s;
            }
        }
    }

    &--image {
        #{$self}__attachments {
            &-item {
                img {
                    width: 150px;
                    height: 150px;
            }
        }
    }
}
}

@keyframes typingAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}